Repository BabylonJS/Exporters, pull requests merged in 2018-07, with the labels that each got.

#251 Fix to mesh without vertices or faces
  3ds Max/Max2Babylon-1.2.11.zip
  3ds Max/Max2Babylon-1.2.12.zip
  3ds Max/Max2Babylon/Exporter/BabylonExporter.GLTFExporter.Mesh.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Light.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Mesh.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Skeleton.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.cs
  Maya/Exporter/BabylonExporter.GLTFExporter.Mesh.cs
  Maya/Exporter/BabylonExporter.cs
  Maya/Maya2Babylon-1.2.6.zip
  Maya/Maya2Babylon-1.2.7.zip
Labels: 3dsmax, maya

#261 Fix case sensitivity + Get specular color from specular level
  3ds Max/Max2Babylon-1.2.13.zip
  3ds Max/Max2Babylon-1.2.14.zip
  3ds Max/Max2Babylon/Exporter/BabylonExporter.GLTFExporter.Material.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.GLTFExporter.Texture.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Material.Optimiser.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Material.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Texture.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.cs
  3ds Max/Max2Babylon/Extensions/ColorExtension.cs
  3ds Max/Samples/babylon/SpecularLevel/230230230earth_specularLevel_specularColor.jpg
  3ds Max/Samples/babylon/SpecularLevel/25500earth_specularLevel_specularColor.jpg
  3ds Max/Samples/babylon/SpecularLevel/SpecularLevel.babylon
  3ds Max/Samples/babylon/SpecularLevel/earth_diffuse.jpg
  3ds Max/Samples/babylon/SpecularLevel/earth_specularColor.jpg
  3ds Max/Samples/babylon/SpecularLevel/earth_specularColorearth_specularLevel_specularColor.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatGlobalAlmostWhite_baseColor.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatGlobalAlmostWhite_metallicRoughness.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatGlobalRed_baseColor.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatGlobalRed_metallicRoughness.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatNoSpecLevel_baseColor.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatNoSpecLevel_metallicRoughness.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatTexture_baseColor.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/MatTexture_metallicRoughness.jpg
  3ds Max/Samples/glTF 2.0/SpecularLevel/SpecularLevel.bin
  3ds Max/Samples/glTF 2.0/SpecularLevel/SpecularLevel.gltf
  3ds Max/Samples/sourceModels/SpecularLevel/SpecularLevel.max
  3ds Max/Samples/sourceModels/SpecularLevel/earth_diffuse.jpg
  3ds Max/Samples/sourceModels/SpecularLevel/earth_specularColor.jpg
  3ds Max/Samples/sourceModels/SpecularLevel/earth_specularLevel.jpg
  Maya/Exporter/BabylonExporter.GLTFExporter.Texture.cs
  Maya/Exporter/BabylonExporter.Texture.cs
  Maya/Exporter/BabylonExporter.cs
  Maya/Maya2Babylon-1.2.11.zip
  Maya/Maya2Babylon-1.2.12.zip
Labels: 3dsmax, maya

#258 [Skin] vertex bone checks
  3ds Max/Max2Babylon/Exporter/BabylonExporter.GLTFExporter.Mesh.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Mesh.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.Skeleton.cs
  3ds Max/Max2Babylon/Exporter/BabylonExporter.cs
Labels: working on

#267 Update dlls #258
  3ds Max/Max2Babylon-1.2.16.zip
  3ds Max/Max2Babylon-1.2.17.zip
  3ds Max/Max2Babylon/Exporter/BabylonExporter.cs
Labels: 3dsmax
